* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

.container {
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
}

button {
    border: none;
    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
  }

li{
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

.header {
    background-color: rgb(204, 169, 169);
    display:grid;
    grid-template-rows: 1fr 2fr;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2.5rem;
    padding: 3.5rem;
}

.header-top {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 3fr;
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    color:black;
}

.header-top .material-icons-outlined {
    color:black;
}

.profile-pic {
    border-radius:50%;
    height: 4rem;
    width: 4rem;;
}

.header-pic .profile-pic {
    height:6rem;
    width:5.5rem;
}

.search {
    display:flex; 
    width:100%;
    grid-column: 1/2;
    gap:1.5rem;
}

.search span {
    font-size: 3rem;
    cursor: pointer;
}

.search-input {
    width:min(80%, 70rem);
    border-radius: 1.5rem;
    border:none;
}

.top-icons {
    grid-column: 2/3;
    padding-right: 4rem;
}

.top-icons {
    display:flex;
    gap: 5rem;
    padding-right: 2rem;
    align-items: center;
}

.top-icons span {
    font-size: 3rem;
    cursor: pointer;
}

.corner-id {
    display:flex;
    align-items: center;
    column-gap: 1.5rem;
}

.header-bot {
    grid-row:2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 2.5rem;
}

.header-bot-left {
    display:flex;
    gap: 4rem;
    align-items: center;
}

.greet-user {
    display:grid;
    grid-template-rows: 1fr 2fr;
}

.generic-greeting {
    grid-row: 1/2;
    font-size: 2rem;
}

.username-greet {
    grid-row: 2/3;
    font-size: 3rem;
}

.add-content-menu ul {
    display:flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
}

.add-content-menu .content-btn {
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 2rem;
    background-color: rgb(64, 94, 64);;
    border:none;
    color:white;
}  

.sidebar {
    background-color: rgb(64, 94, 64);
    color:white;
    grid-column: 1/2;
    grid-row:1/3;
    display:flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 30px;
    font-size: 4rem;
    padding: 20px;
    min-width: 30rem;
}

.sidebar span {
    font-size: 4rem;
    cursor: pointer;
}

.big-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-column: 2/3;
    grid-row: 2/3;
}

.main-content {
    background-color: rgb(128, 241, 128);
    grid-column: 1/2;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    height:100%
}

.main-sidebar {
    grid-row:1/3;
    grid-column: 2/3;
    background-color: rgb(231, 211, 211);
    padding: 2rem 2rem;;
}   

.project-container {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    grid-column: 1/3;
    min-width: 55rem;
}

.project-header {
    font-size: 3em;
    font-weight:600;
    padding: 20px 0px 0px 20px;
    background-color: rgb(231, 211, 211);
}

.projects {
    grid-row: 2/3;
    display: grid;
    background-color: rgb(231, 211, 211);
    width: 100%;   
    grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    grid-template-rows:repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 4rem 2.5rem;
    justify-self: center;
    padding: 1rem 2rem;
}


.project-item, .content-right-item {
    width:auto;
    height:30rem;
    border: none;
    font-size: 4rem;
    display:flex;
    flex-direction: column;
    background-color: rgb(64, 94, 64);
    border-radius: 1.5rem;
}



.project-item {
    display:grid;
    grid-template-columns: 1fr 25fr;
    grid-template-rows: 1fr 4fr 1fr;
}

.project-title {
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
    background-color: white;
    grid-column: 2/3;
    grid-row:1/2;
    border-radius: 0 1.5rem 0 0;
}

.project-option-bar {
    background-color:rgb(230, 197, 197);
    display:flex;
    justify-content: end;
    align-items: center;
    gap:2.5rem;
    grid-column: 2/3;
    grid-row:3/4;
    padding:.2rem 4rem;
    border-radius: 0 0 1.5rem 0;
}

.project-option-bar span {
    font-size: 2.75rem;
    cursor: pointer;
    padding-bottom: 2rem;
}

.project-text {
    font-size: 2.3rem;
    padding: 1rem;
    background-color: rgb(230, 197, 197);
    grid-column:2/3;
    grid-row:2/3;
}

.content-right-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    font-size: 2.3rem;
    padding: 1.5rem;
    color:white;
}

.content-right-container{
    /* display:flex;
    flex-direction: column;
    gap: 15rem;
    padding: 20px;
    justify-content: start; */
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(430px,1fr));
    min-width: 30rem;
}

.announcements, .trending {
    display: flex;
    flex-direction: column;
    width: 30rem;
    justify-self:center;
}

.ann-header, .tren-header {
    font-size: 3rem;
    padding-bottom:1rem;
    font-weight:600;
}

.main-menu li {
    display:flex;
    padding-bottom: 3rem;
}

.main-menu ul {
    color: white;
}

.help-menu li {
    padding-bottom:3rem;
}

.ann-text, .tren-text {
    font-size: 2.3rem;
    padding:1rem;
}


li .material-icons-outlined  {
    color: white;
}


.menu-opt {
    color:white;
}

.menu-itm {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}


